.circle-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*--------------------------WELCOME CIRCLE -----------------------------*/
  .circle-holder {
    /* margin-top: 20px; */
    background-color: rgb(56, 7, 119);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(233, 235, 238);
  }
  
  
  .outer-circle {
    
    background-color: black;
    width: 200px;
    height: 200px;
    /* margin-top: var(--ycoord);
    margin-left: var(--xcoord); */
    border-radius: 50%;
    filter: blur(15px);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 25%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    /* animation: radial-gradient 1s radial infinite; */
  }
  
  .inner-circle {
    z-index: 9999;
    background-color: rgb(232, 234, 239);
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(221, 221, 225);
    box-shadow: 0 0 5px rgb(232, 234, 239);
  }